* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #EE7633;
}

.container {
    background-color: #1b1b1b;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 2em;
    border-radius: 0.5em;

}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.section-container {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.btn {
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: #3e3f43;
    color: #a9a7a7;
}

.btn-focus {
    background-color: #EE7633;
    color: #feeacf;
}
.time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#time {
    color: #feeacf;
    font-size: 5em;
    text-align: center;
    font-weight: 600;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}

#btn-start, #btn-pause {
    padding: 1em 2em;
    border-radius: 0.5em;
    cursor: pointer;
    background-color: #feeacf;
}

#btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: #feeacf;
    font-size: 2em;
}

.hide {
    display: none;
}
.show {
    display: block;
}